<div class="office block">
    <div class="wrapper">
        <div class="office__content">

            <div class="office__left">
                <div class="office__img">
                    <img src="img/office-img.jpg" alt="">
                </div>
                <div class="office__img">
                    <img src="img/office-img.jpg" alt="">
                </div>
                <div class="office__img">
                    <img src="img/office-img.jpg" alt="">
                </div>
            </div>

            <div class="office__right">
                <h2 class="office__title">Маникюрный кабинет</h2>
                <h4 class="office__subtitle">Процедура маникюра </h4>
                <p class="office__text">Внешний вид и возможность выглядеть неотразимо, всегда и везде, является обязательным атрибутом успеха современной женьщины.</p>
                <p class="office__text">Добиться этого совсем не сложно даже не прибегая к экстремальным способам по средствам совершения операций или любого другого вида проб и ошибок, и все только ради того, чтобы свершилось чудо, и любая дама могла гордиться своим внешним видом. А высококлассный колорист нашего салона, обладающий последними методиками сложного окрашивания и знающие толк в необыкновенной красоте волос, при помощи амбре, растяжки цвета, а также брондирования поможет создать неповторимый имидж.</p>
            </div>

        </div>
    </div>
</div>