<div class="prices block">
    <div class="wrapper">

        <div class="prices__left">
            <h3 class="prices__title">Маникюр</h3>
        </div>

        <div class="prices__right">
            <div class="prices__row-top">
                <span class="col-service">Услуга</span>
                <span class="col-price">Цена</span>
            </div>
            <div class="prices__row">
                <span class="col-service">Маникюр + гель-лак / Снятие</span>
                <span class="col-price">1190/200 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Маникюр классический</span>
                <span class="col-price">790 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Маникюр аппаратный / комби</span>
                <span class="col-price">1000 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Маникюр европейский</span>
                <span class="col-price">490 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Маникюр мужской</span>
                <span class="col-price">1200 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Придание формы ногтям</span>
                <span class="col-price">300 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Полировка ногтей по маслу</span>
                <span class="col-price">250 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Ремонт натурального ногтя</span>
                <span class="col-price">250 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Маникюр детский</span>
                <span class="col-price">400 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Японское запечатывание ногтей</span>
                <span class="col-price">1000 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Запечатывание ногтей лечебным воском</span>
                <span class="col-price">500 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
        </div>

    </div>
</div>


<div class="prices block">
    <div class="wrapper">

        <div class="prices__left">
            <h3 class="prices__title">Покрытие</h3>
        </div>

        <div class="prices__right">
            <div class="prices__row-top">
                <span class="col-service">Услуга</span>
                <span class="col-price">Цена</span>
            </div>
            <div class="prices__row">
                <span class="col-service">Лечебное покрытие </span>
                <span class="col-price">350 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Лак цвет</span>
                <span class="col-price">600 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Лак френч</span>
                <span class="col-price">750 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Стойкий лак цвет</span>
                <span class="col-price">750 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Стойкий лак френч</span>
                <span class="col-price">850 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Гель-лак цвет</span>
                <span class="col-price">990 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Полировка ногтей по маслу</span>
                <span class="col-price">250 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Гель-лак френч</span>
                <span class="col-price">1200 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Гель-лак Кошачий глаз</span>
                <span class="col-price">1000 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Снятие гель-лака</span>
                <span class="col-price">300 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Снятие лака</span>
                <span class="col-price">100 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
        </div>

    </div>
</div>

<div class="prices block">
    <div class="wrapper">

        <div class="prices__left">
            <h3 class="prices__title">Дизайн</h3>
        </div>

        <div class="prices__right">
            <div class="prices__row-top">
                <span class="col-service">Услуга</span>
                <span class="col-price">Цена</span>
            </div>
            <div class="prices__row">
                <span class="col-service">Лечебное покрытие</span>
                <span class="col-price">350 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Лак цвет</span>
                <span class="col-price">600 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Лак френч</span>
                <span class="col-price">750 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Стойкий лак цвет</span>
                <span class="col-price">750 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Стойкий лак френч</span>
                <span class="col-price">850 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Гель-лак цвет</span>
                <span class="col-price">990 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Полировка ногтей по маслу</span>
                <span class="col-price">250 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Гель-лак френч</span>
                <span class="col-price">1200 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Гель-лак Кошачий глаз</span>
                <span class="col-price">1000 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Снятие гель-лака</span>
                <span class="col-price">300 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Снятие лака</span>
                <span class="col-price">100 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
        </div>

    </div>
</div>

<div class="prices block">
    <div class="wrapper">

        <div class="prices__left">
            <h3 class="prices__title">Уход и лечение</h3>
        </div>

        <div class="prices__right">
            <div class="prices__row-top">
                <span class="col-service">Услуга</span>
                <span class="col-price">Цена</span>
            </div>
            <div class="prices__row">
                <span class="col-service">Лечебное покрытие</span>
                <span class="col-price">350 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Лак цвет</span>
                <span class="col-price">600 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Лак френч</span>
                <span class="col-price">750 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Стойкий лак цвет</span>
                <span class="col-price">750 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Стойкий лак френч</span>
                <span class="col-price">850 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Гель-лак цвет</span>
                <span class="col-price">990 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Полировка ногтей по маслу</span>
                <span class="col-price">250 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Гель-лак френч</span>
                <span class="col-price">1200 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Гель-лак Кошачий глаз</span>
                <span class="col-price">1000 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Снятие гель-лака</span>
                <span class="col-price">300 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
            <div class="prices__row">
                <span class="col-service">Снятие лака</span>
                <span class="col-price">100 ₽</span>
                <a href="#" class="col__link">Подробнее</a>
                <button class="col-order order-call">Записаться</button>
            </div>
        </div>

    </div>
