<div class="about block">
    <div class="wrapper">
        <div class="about__page-name">
            О салоне
        </div>
        <h1 class="title">
            Салон «Okinawa» – это коллектив
            талантливых мастеров, влюбленных в&nbsp;свое дело.
        </h1>
        <div class="about__article">
            <div class="about__text about__text1">
                <p class="about__text">
                    Добро пожаловать к нам! Мы поможем Вам в создании безупречного и неповторимого
                    образа и стиля. Наши специалисты всё время
                    следят за модными тенденциями, посещают семинары и мастер-классы, постоянно
                    повышая свой профессиональный уровень.
                </p>
                <div class="about__img">
                    <img src="img/about1pic.jpg" alt="about">
                </div>
            </div>
            <div class="about__text about__text2">
                <div class="about__img">
                    <img src="img/about2pic.jpg" alt="about">
                </div>
                <div class="about__text2-box">
                    <h3 class="about__text-subtitle">
                        Окрашивание любой сложности
                    </h3>
                    <div class="about__subbox">
                        <p>
                            Внешний вид и возможность выглядеть неотразимо, всегда и везде, является обязательным атрибутом успеха современной женщины.
                        </p>
                        <p>
                            Добиться этого совсем не сложно даже не прибегая
                            к&nbsp;экстремальным способам по средствам совершения операций или любого другого вида проб и&nbsp;ошибок, и&nbsp;все только ради того, чтобы свершилось чудо, и&nbsp;любая дама могла гордиться своим внешним видом.
                            А&nbsp;высококлассный колорист   нашего салона, обладающий последними методиками сложного окрашивания и&nbsp;знающие толк в&nbsp;необыкновенной красоте волос, при помощи амбре, растяжки цвета, а&nbsp;также брондирования поможет создать
                            неповторимый имидж.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about__text about__text3">
                <div class="about__text2-box">
                    <h3 class="about__text-subtitle">
                        Прическа, стрижка и укладка
                    </h3>
                    <div class="about__subbox">
                        <p>
                            Любое формирование и даже кардинальное изменение облика можно с легкостью добиться, обратившись в наш салон красоты, где квалифицированные мастера — стилисты всегда готовы совершить чудо, превратив каждую даму в настоящую красавицу, ведь стильная стрижка или удивительно красивая прическа и даже укладка способны до неузнаваемости изменить
                            внешний облик.
                        </p>
                        <p>
                            Наш салон — это настоящая индустрия красоты и современных технологий материалов по уходу не только за волосами, но и за ногтями при помощи гель – лака, таким образом, добиваясь безупречного вида ногтей на длительное время.
                        </p>
                    </div>
                </div>
                <div class="about__img">
                    <img src="img/about3pic.jpg" alt="about">
                </div>
            </div>
        </div>
        <div class="about__insert">
            <span class="about__quotes"></span>
            Мы используем только качественную и профессиональную продукцию, сохраняя доступные цены.
        </div>
        <div class="about__list-box">
            <div class="about__list-text">
                <p class="about__text-item">
                    Доверившись нашим мастерам по волшебству, каждая дама становится еще более роскошной и&nbsp;уверенной, что помогает ей бодро идти по жизни и&nbsp;завоевывать сердца окружающих.
                </p>
                <ul class="about__list">
                    <li>Окрашивание / мелирование;</li>
                    <li>Стрижки / прически / укладка;</li>
                    <li>Прически;</li>
                    <li>Омбре;</li>
                    <li>Шатуш;</li>
                    <li>Аэрография на ногтях;</li>
                    <li>Брондирование;</li>
                    <li>Растяжки цвета;</li>
                    <li>Колорист;</li>
                    <li>Маникюр;</li>
                    <li>Педикюр;</li>
                    <li>Гель-лак.</li>
                </ul>
            </div>
            <div class="about__list-img">
                <img src="img/about4pic.jpg" alt="about">
            </div>
        </div>
    </div>
</div>










