<header class="header block">
    <div class="wrapper">
        <div class="header__top">
            <a class="header__logo" href="index.html"><img src="./img/logo.png" alt="Logo"></a>

            <nav class="header__nav">
                <a href="#" class="header__nav-item">Для лица</a>
                <a href="#" class="header__nav-item">Для тела</a>
                <a href="#" class="header__nav-item">Для волос</a>
                <a href="#" class="header__nav-item">Для ногтей</a>
                <a href="#" class="header__nav-item">О салоне</a>
                <div class="header__nav-phone">
                    <span class="header__number">+7 (915) 096-39-90</span>
                    <button class="header__btn-phone btn">Заказать звонок</button>
                </div>
                <div class="nav-close"></div>
            </nav>

            <div class="nav-open"></div>

            <div class="header__phone">
                <span class="header__number">+7 (915) 096-39-90</span>
                <button class="header__btn-phone btn">Заказать звонок</button>
            </div>

        </div>

        <div class="header__content">
            <div class="header__left">
                <a href="#" class="header__down">Листайте вниз</a>
                <div class="header__title">
                    <span class="header__title-sm">Салон красоты</span><br>
                    Okinawa
                </div>

                <div class="header__text-slider">
                        <p class="header__text-slide">Приятное обслуживание с демократическими ценами. Каждую неделю новые акции.</p>
                        <p class="header__text-slide">Приятное обслуживание с демократическими ценами. Каждую неделю новые акции. </p>
                        <p class="header__text-slide">Приятное обслуживание с демократическими ценами. Каждую неделю новые акции. </p>
                </div>
                <div class="header__pagination"></div>
                <button class="header__btn-promo">Просмотреть акции</button>

            </div>
            
            <div class="header__right">
                <div class="header__photo-slider">
                        <div class="header__photo-slide"><img src="img/header-slide-1.jpg" alt=""></div>
                        <div class="header__photo-slide"><img src="img/header-slide-1.jpg" alt=""></div>
                        <div class="header__photo-slide"><img src="img/header-slide-1.jpg" alt=""></div>
                </div>
            </div>


        </div>

    </div>
</header>