<div class="master-popup">
    <div class="master">
        <div class="master__close-btn close-btn"></div>
        <div class="master__left">
            <img src="img/master-photo.jpg" alt="master">
        </div>
        <div class="master__right">
            <p class="master__studio">
                ногтевая студия
            </p>
            <p class="master__name">
                Анна Киселёва
            </p>
            <p class="master__prof">
                Мастер маникюра
            </p>
            <p class="master__category">
                Информация
            </p>
            <div class="master__info">
                <p class="master__par">
                    Мастер ногтевого сервиса
                    <br>Мастер по аппаратному педикюру
                </p>
                <p class="master__par">
                    Несмотря на молодость, Кристина уже имеет существенный опыт мастера ногтевого сервиса высокого уровня! Она великолепно выполняет все виды маникюра и педикюра. Они всегда зарядит вас положительными эмоциями и&nbsp;прекрасным настроением!
                </p>
            </div>
            <p class="master__category">
                Должностные обязанности
            </p>
            <ul class="master__list">
                <li>Все виды маникюра,</li>
                <li>Все виды педикюра,</li>
                <li>Выполняет все виды популярного дизайна,</li>
                <li>Идеальное покрытие "под кутикулу",</li>
                <li>Спа-процедуры,</li>
                <li>уходы для рук и ног.</li>
            </ul>
            <p class="master__category">
                Работы мастера
            </p>
            <div class="master__photos">
                <img src="img/insta-photo1.png" alt="work">
                <img src="img/insta-photo2.png" alt="work">
                <img src="img/insta-photo3.png" alt="work">
                <img src="img/insta-photo2.png" alt="work">
                <img src="img/insta-photo3.png" alt="work">
                <img src="img/insta-photo1.png" alt="work">
            </div>
            <p class="master__category">
                Сертификаты
            </p>
            <div class="master__docs">
                <img src="img/insta-photo1.png" alt="doc">
                <img src="img/insta-photo2.png" alt="doc">
                <img src="img/insta-photo3.png" alt="doc">
                <img src="img/insta-photo2.png" alt="doc">
                <img src="img/insta-photo3.png" alt="doc">
                <img src="img/insta-photo1.png" alt="doc">
            </div>


        </div>
    </div>
</div>