<div class="offer block">
    <div class="wrapper">
        <div class="offer__box">
            <h2 class="title">
                Специальное
                предложение
                на&nbsp;этой неделе
            </h2>
            <a href="" class="offer__link">
                Все акции <img src="img/arrow.svg" alt="">
            </a>
        </div>
        <div class="offer__stoc stoc">
            <div class="stoc__number">
                <span>Скидка 30%</span>
            </div>
            <div class="stoc__left">
                <p class="stoc__title">
                    Название Акции!
                </p>
                <p class="stoc__text">
                    Приятное обслуживание с демократическими <br>
                    ценами. Каждую неделю новые акции.
                </p>
            </div>
            <div class="stoc__btns">
                <button class="stoc__btn-more">
                    <span>Подробнее</span>
                </button>
                <button class="stoc__btn-sign">
                    <span>Записаться</span>
                </button>
            </div>
        </div>
    </div>
</div>