<div class="order-box">
    <div class="order">
        <div class="order__left">
            <div class="order__title">
                Заказать звонок
            </div>
            <div class="order__text">
                Оставьте свои контактные данные, наш сотрудник
                <br>свяжется с Вами в ближайшее время
            </div>
            <form action="" class="order__form">
                <input type="text" class="order__input order__input_text" placeholder="Ваше Имя*">
                <input type="tel" class="order__input order__input_tel" placeholder="Ваш телефон*">
                <select name="" id="" class="order__select">
                    <option value="">Все услуги</option>
                    <option value="">Для лица</option>
                    <option value="">Для тела</option>
                    <option value="">Для волос</option>
                    <option value="">Для ногтей</option>
                </select>
            </form>
        </div>
        <div class="order__right">
            <img src="img/order-bg.png" alt="woman">
        </div>
    </div>
</div>