<div class="popular block">
    <div class="wrapper">
        <div class="popular__top">
            <h2 class="title">Популярные услуги</h2>
            <a href="#" class="popular__link">Все услуги</a>
        </div>

        <div class="popular__content">
            <div class="popular__item">
                <a href="#" class="popular__img"><img src="img/popular-1.jpg" alt=""></a>
                <div class="popular__title">Окрашивание</div>
                <div class="popular__line"></div>
                <div class="popular__item-link order-call">Записаться</div>
            </div>
            <div class="popular__item">
                <a href="#" class="popular__img"><img src="img/popular-2.jpg" alt=""></a>
                <div class="popular__title">Стрижка / Укладка</div>
                <div class="popular__line"></div>
                <div class="popular__item-link order-call">Записаться</div>
            </div>
            <div class="popular__item">
                <a href="#" class="popular__img"><img src="img/popular-3.jpg" alt=""></a>
                <div class="popular__title">Пилинг</div>
                <div class="popular__line"></div>
                <div class="popular__item-link order-call">Записаться</div>
            </div>
            <div class="popular__item">
                <a href="#" class="popular__img"><img src="img/popular-4.jpg" alt=""></a>
                <div class="popular__title">Ногтевая студия</div>
                <div class="popular__line"></div>
                <div class="popular__item-link order-call">Записаться</div>
            </div>
            <div class="popular__item">
                <a href="#" class="popular__img"><img src="img/popular-5.jpg" alt=""></a>
                <div class="popular__title">Студия педикюра</div>
                <div class="popular__line"></div>
                <div class="popular__item-link order-call">Записаться</div>
            </div>
            <div class="popular__item">
                <a href="#" class="popular__img"><img src="img/popular-6.jpg" alt=""></a>
                <div class="popular__title">Визаж / Макияж</div>
                <div class="popular__line"></div>
                <div class="popular__item-link order-call">Записаться</div>
            </div>
        </div>
    </div>
</div>