<div class="reviews block">
    <div class="wrapper">
        <div class="title">Наши клиенты говорят</div>
        <div class="reviews__sliders">
            <div class="reviews__text-absolute">Отзывы</div>
            <div class="reviews__photo-slider">
                <div class="reviews__photo-slide">
                    <img src="img/reviews-1.jpg" alt="">
                </div>
                <div class="reviews__photo-slide">
                    <img src="img/reviews-1.jpg" alt="">
                </div>
                <div class="reviews__photo-slide">
                    <img src="img/reviews-1.jpg" alt="">
                </div>
                <div class="reviews__photo-slide">
                    <img src="img/reviews-1.jpg" alt="">
                </div>
                <div class="reviews__photo-slide">
                    <img src="img/reviews-1.jpg" alt="">
                </div>
                <div class="reviews__photo-slide">
                    <img src="img/reviews-1.jpg" alt="">
                </div>
                <div class="reviews__photo-slide">
                    <img src="img/reviews-1.jpg" alt="">
                </div>
                <div class="reviews__photo-slide">
                    <img src="img/reviews-1.jpg" alt="">
                </div>
                <div class="reviews__photo-slide">
                    <img src="img/reviews-1.jpg" alt="">
                </div>
                <div class="reviews__photo-slide">
                    <img src="img/reviews-1.jpg" alt="">
                </div>
            </div>

            <div class="reviews__text-slider">
                <div class="reviews__text-slide">
                    <h4 class="reviews__slide-title">Оля Иващенко</h4>
                    <p class="reviews__slide-date">12.03.2019</p>
                    <p class="reviews__slide-descr">В этом салоне красоты меня встретили с улыбкой, знаете, это действительно приятно) Специалисты просто прекрасные и настоящие профессионалы. Подход современный, кофе вкусный, а руки у мастера маникюра Елены золотые! Отдельно хочу отметить и стилиста Алену и поблагодарить за прекрасную стрижку.</p>
                </div>
                <div class="reviews__text-slide">
                    <h4 class="reviews__slide-title">Оля Иващенко</h4>
                    <p class="reviews__slide-date">12.03.2019</p>
                    <p class="reviews__slide-descr">В этом салоне красоты меня встретили с улыбкой, знаете, это действительно приятно) Специалисты просто прекрасные и настоящие профессионалы. Подход современный, кофе вкусный, а руки у мастера маникюра Елены золотые! Отдельно хочу отметить и стилиста Алену и поблагодарить за прекрасную стрижку.</p>
                </div>
                <div class="reviews__text-slide">
                    <h4 class="reviews__slide-title">Оля Иващенко</h4>
                    <p class="reviews__slide-date">12.03.2019</p>
                    <p class="reviews__slide-descr">В этом салоне красоты меня встретили с улыбкой, знаете, это действительно приятно) Специалисты просто прекрасные и настоящие профессионалы. Подход современный, кофе вкусный, а руки у мастера маникюра Елены золотые! Отдельно хочу отметить и стилиста Алену и поблагодарить за прекрасную стрижку.</p>
                </div>
                <div class="reviews__text-slide">
                    <h4 class="reviews__slide-title">Оля Иващенко</h4>
                    <p class="reviews__slide-date">12.03.2019</p>
                    <p class="reviews__slide-descr">В этом салоне красоты меня встретили с улыбкой, знаете, это действительно приятно) Специалисты просто прекрасные и настоящие профессионалы. Подход современный, кофе вкусный, а руки у мастера маникюра Елены золотые! Отдельно хочу отметить и стилиста Алену и поблагодарить за прекрасную стрижку.</p>
                </div>
                <div class="reviews__text-slide">
                    <h4 class="reviews__slide-title">Оля Иващенко</h4>
                    <p class="reviews__slide-date">12.03.2019</p>
                    <p class="reviews__slide-descr">В этом салоне красоты меня встретили с улыбкой, знаете, это действительно приятно) Специалисты просто прекрасные и настоящие профессионалы. Подход современный, кофе вкусный, а руки у мастера маникюра Елены золотые! Отдельно хочу отметить и стилиста Алену и поблагодарить за прекрасную стрижку.</p>
                </div>
                <div class="reviews__text-slide">
                    <h4 class="reviews__slide-title">Оля Иващенко</h4>
                    <p class="reviews__slide-date">12.03.2019</p>
                    <p class="reviews__slide-descr">В этом салоне красоты меня встретили с улыбкой, знаете, это действительно приятно) Специалисты просто прекрасные и настоящие профессионалы. Подход современный, кофе вкусный, а руки у мастера маникюра Елены золотые! Отдельно хочу отметить и стилиста Алену и поблагодарить за прекрасную стрижку.</p>
                </div>
                <div class="reviews__text-slide">
                    <h4 class="reviews__slide-title">Оля Иващенко</h4>
                    <p class="reviews__slide-date">12.03.2019</p>
                    <p class="reviews__slide-descr">В этом салоне красоты меня встретили с улыбкой, знаете, это действительно приятно) Специалисты просто прекрасные и настоящие профессионалы. Подход современный, кофе вкусный, а руки у мастера маникюра Елены золотые! Отдельно хочу отметить и стилиста Алену и поблагодарить за прекрасную стрижку.</p>
                </div>
                <div class="reviews__text-slide">
                    <h4 class="reviews__slide-title">Оля Иващенко</h4>
                    <p class="reviews__slide-date">12.03.2019</p>
                    <p class="reviews__slide-descr">В этом салоне красоты меня встретили с улыбкой, знаете, это действительно приятно) Специалисты просто прекрасные и настоящие профессионалы. Подход современный, кофе вкусный, а руки у мастера маникюра Елены золотые! Отдельно хочу отметить и стилиста Алену и поблагодарить за прекрасную стрижку.</p>
                </div>
                <div class="reviews__text-slide">
                    <h4 class="reviews__slide-title">Оля Иващенко</h4>
                    <p class="reviews__slide-date">12.03.2019</p>
                    <p class="reviews__slide-descr">В этом салоне красоты меня встретили с улыбкой, знаете, это действительно приятно) Специалисты просто прекрасные и настоящие профессионалы. Подход современный, кофе вкусный, а руки у мастера маникюра Елены золотые! Отдельно хочу отметить и стилиста Алену и поблагодарить за прекрасную стрижку.</p>
                </div>
                <div class="reviews__text-slide">
                    <h4 class="reviews__slide-title">Оля Иващенко</h4>
                    <p class="reviews__slide-date">12.03.2019</p>
                    <p class="reviews__slide-descr">В этом салоне красоты меня встретили с улыбкой, знаете, это действительно приятно) Специалисты просто прекрасные и настоящие профессионалы. Подход современный, кофе вкусный, а руки у мастера маникюра Елены золотые! Отдельно хочу отметить и стилиста Алену и поблагодарить за прекрасную стрижку.</p>
                </div>
            </div>
        </div>
        <div class="reviews__btns">
            <button class="reviews__btn reviews__btn-dark">Оставить отзыв</button>
            <button class="reviews__btn">Все отзывы</button>
        </div>

        <div class="reviews__pagination"></div>

    </div>
</div>