<div class="services block">
    <div class="wrapper">
        <div class="services__top">
            <h2 class="title">Наши услуги</h2>
            <a href="#" class="services__link">Все услуги</a>
        </div>

        <div class="services__content">

            <a href="#" class="services__item">
                <img src="img/services-1.jpg" alt="">
                <span class="services__text">Косметология</span>
            </a>

            <a href="#" class="services__item">
                <img src="img/services-2.jpg" alt="">
                <span class="services__text">Маникюр</span>
            </a>

            <a href="#" class="services__item">
                <img src="img/services-3.jpg" alt="">
                <span class="services__text">Парикмахерский зал</span>
            </a>

        </div>
        
    </div>
</div>