<div class="team block">
    <div class="wrapper">
        <div class="team__left">
            <h2 class="title">Наша команда профессионалов</h2>
            <a href="" class="team__btn">Вся команда</a>
        </div>

        <div class="team__right">
            <div class="team__slide">
                <div class="team__photo"><img src="img/team-1.jpg" alt=""></div>
                <p class="team__name">Ксения Молчанова</p>
                <p class="team__prof">парикмахер</p>
            </div>
            <div class="team__slide">
                <div class="team__photo"><img src="img/team-2.jpg" alt=""></div>
                <p class="team__name">Юлия Момонт</p>
                <p class="team__prof">Дерматолог, косметолог</p>
            </div>
            <div class="team__slide">
                <div class="team__photo"><img src="img/team-3.jpg" alt=""></div>
                <p class="team__name">Анна Киселёва</p>
                <p class="team__prof">Мастер маникюра</p>
            </div>
            <div class="team__slide">
                <div class="team__photo"><img src="img/team-4.jpg" alt=""></div>
                <p class="team__name">Анастасия Терёшина</p>
                <p class="team__prof">Косметолог</p>
            </div>
            <div class="team__slide">
                <div class="team__photo"><img src="img/team-1.jpg" alt=""></div>
                <p class="team__name">Ксения Молчанова</p>
                <p class="team__prof">парикмахер</p>
            </div>
            <div class="team__slide">
                <div class="team__photo"><img src="img/team-2.jpg" alt=""></div>
                <p class="team__name">Юлия Момонт</p>
                <p class="team__prof">Дерматолог, косметолог</p>
            </div>
            <div class="team__slide">
                <div class="team__photo"><img src="img/team-3.jpg" alt=""></div>
                <p class="team__name">Анна Киселёва</p>
                <p class="team__prof">Мастер маникюра</p>
            </div>
            <div class="team__slide">
                <div class="team__photo"><img src="img/team-4.jpg" alt=""></div>
                <p class="team__name">Анастасия Терёшина</p>
                <p class="team__prof">Косметолог</p>
            </div>
        </div>

    </div>
</div>