.order-box {
    position: fixed;
    height: 100%;
    width: 100%;
    content:'';
    background: rgba(35, 35, 35, 0.9);
    top: 0;
    left: 0;
    z-index: 10;
}

.order {
    width: 1030px;
    height: 550px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    color: #fff;
    background: #3A3A3A;
    justify-content: space-between;
    position: absolute;
    &__close {
        width: 38px;
        height: 38px;
        background: #fff;
        position: absolute;
        top: -19px;
        right: -19px;
        cursor: pointer;
        &::before,
        &::after {
            content:'';
            background: #0d0d0d;
            width: 34px;
            height: 3px;
            display: block;
            position: absolute;
            top: 18px;
            left: 2px;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
    &__left {
        margin-left: 60px;
        padding-top: 47px;
        width: 470px;
    }
    &__title {
        font-size: 48px;
        font-family: "Cormorant Garamond", serif;
        font-weight: 400;
        letter-spacing: .5px;
    }
    &__text {
        font-size: 14px;
        line-height: 22px;
        margin-top: 11px;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__select {
        background: transparent url(../img/popup-arrow.svg)no-repeat right 14px top 7px;
        border: none;
        border-bottom: 1px solid #CA507B;
        color: #BBBBBB;
        margin-top: 35px;
        padding-bottom: 9px;
        padding-left: 12px;
        font-style: italic;
        font-family: "Cormorant Garamond", serif;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &:focus {
            background: transparent url(../img/popup-arrow-active.svg)no-repeat right 14px top 7px;
        }
        option {
            background: #232323;
            cursor: pointer;
        }
    }
    &__input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #CA507B;
        letter-spacing: 1px;
        padding-left: 16px;
        color: #fff;
        font-style: italic;
        font-family: "Cormorant Garamond", serif;
        padding-bottom: 11px;
        &::-webkit-input-placeholder {
            color: #BBBBBB;
            font-style: italic;
            font-family: "Cormorant Garamond", serif;
        }
    }
    &__input_text {
        margin-top: 48px;
    }
    &__input_tel {
        margin-top: 34px;
    }
    &__bottom {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
    }
    &__btn {
        font-size: 14px;
        background: #CA507B;
        width: 200px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        &:hover {
            background: #ff1668;
        }
    }
    &__polit {
        font-size: 12px;
        margin-top: 7px;
        margin-left: 30px;
        width: 235px;
        line-height: 1.2;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}