<div class="services-main block">
    <div class="wrapper">
        <a href="" class="services-main__back-link">
            <img src="img/service-arrow-back.svg" alt="back" class="services-main__back1">
            <img src="img/service-arrow-back-hover.svg" alt="back" class="services-main__back2">
            <span>Вернуться назад</span>
        </a>
        <div class="services-main__pic">
            <img src="img/hands.png" alt="pic">
        </div>
        <div class="services-main__content">
            <div class="services-main__name">
                <h1 class="services-main__title">
                    Маникюр европейский
                </h1>
                <div class="services-main__price">490 ₽</div>
                <div class="header__btn-promo order-call">Записаться</div>
            </div>
            <div class="services-main__text services-main__text_first">
                <h3 class="services-main__subname">
                    Особенности
                </h3>
                <p class="services-main__par">
                    Маникюр – это не только цветное покрытие, но и особая техника ухода,
                    благодаря которой ногти приобретают красивый и аккуратный вид даже
                    без&nbsp;нанесения лака
                </p>
                <p class="services-main__par">
                    Отличия от классического обрезного маникюра, который предполагает
                    удаление кутикулы с помощью маникюрных ножниц или щипчиков,
                    у европейского – существенные. Считается, что он гораздо более
                    безопасный и мягкий, «щадящий». Нет никакого риска, что кожа вокруг
                    ногтей будет травмирована, что останутся ранки, в которые случайно можно
                    занести инфекцию.
                </p>
            </div>
            <div class="services-main__text services-main__text_kinds">
                <h3 class="services-main__subname">
                    Виды
                </h3>
                <div class="services-main__kind-item">
                    <p class="services-main__kind-name">
                        Горячий
                    </p>
                    <p class="services-main__par">
                        Это достаточно «глубокая» процедура, которая подойдет
                        прежде всего тем, у кого ногти и&nbsp;кожа вокруг в «запущенном» состоянии, и&nbsp;требуется особенно тщательный&nbsp;уход.
                    </p>
                </div>
                <div class="services-main__kind-item">
                    <p class="services-main__kind-name">
                        Мокрый
                    </p>
                    <p class="services-main__par">
                        Мокрый европейский маникюр – не то же, что и горячий.
                        Этот выполняют, сперва сделав ванночку с теплой водой,
                        которая смягчает и распаривает кожу. За счет
                        этого в дальнейшем ее будет
                        легче обрабатывать.
                    </p>
                </div>
                <div class="services-main__kind-item services-main__kind-item_last">
                    <p class="services-main__kind-name">
                        Сухой
                    </p>
                    <p class="services-main__par">
                        Этот вид европейского маникюра делают, как правило, тем, у кого
                        ногти и так хорошо выглядят.
                    </p>
                </div>
            </div>
            <div class="services-main__text services-main__text_kinds">
                <h3 class="services-main__subname">
                    ТЕХНОЛОГИЯ
                </h3>
                <div class="services-main__kind-item">
                    <p class="services-main__kind-name">
                        Подготовка
                    </p>
                    <p class="services-main__par">
                        Сначала – стереть лак или убрать его остатки, если нужно, а далее – придать ногтям длину и форму. Это нужно сделать заранее, перед тем
                        как приниматься за кутикулу. Вне зависимости от того, выбрали вы горячий, мокрый или сухой маникюр.
                    </p>
                </div>
                <div class="services-main__kind-item">
                    <p class="services-main__kind-name">
                        Ремувер
                    </p>
                    <p class="services-main__par">
                        Распределите выбранный вами гель дугой по кутикуле. Выждав минуту или две, скатайте остатки ороговевших частиц кожи.
                    </p>
                </div>
                <div class="services-main__kind-item">
                    <p class="services-main__kind-name">
                        Спа
                    </p>
                    <p class="services-main__par">
                        Если делать горячий или же мокрый европейский маникюр, то в нем как раз есть элементы спа – все дело в ванночке, которую для процедуры наполняют подогретым кремом или маслом, чаще – теплой водой. Для самых заметных результатов используйте оливковое масло. Если же в глубоком уходе необходимости нет, можно обойтись и водой, чтобы просто распарить и размягчить кожу.
                    </p>
                </div>
                <div class="services-main__kind-item">
                    <p class="services-main__kind-name">
                        Кутикула
                    </p>
                    <p class="services-main__par">
                        Завершите ее обработку – отодвиньте кожу, используя пушер или апельсиновую палочку.
                    </p>
                </div>
                <div class="services-main__kind-item">
                    <p class="services-main__kind-name">
                        Очищение
                    </p>
                    <p class="services-main__par">
                        Уберите остатки ремувера и «скатанной» кутикулы, вытрите руки – они должны быть сухими, чтобы далее можно было наносить уходовые средства.
                    </p>
                </div>
                <div class="services-main__kind-item services-main__kind-item_last">
                    <p class="services-main__kind-name">
                        Уход
                    </p>
                    <p class="services-main__par">
                        Сначала массажными движениями вотрите в кожу питательный крем
                        для рук – он должен практически полностью впитаться. Затем на корневую часть ногтей капните
                        масло для кутикулы и разотрите его так, чтобы оно попало на кожу на всех участках вокруг ногтевой пластины.
                    </p>
                </div>
            </div>
            <div class="stop"></div>
        </div>
    </div>
</div>