<div class="works block">
    <div class="wrapper">
        <div class="works__top">
            <h1 class="title">
                Наши работы
            </h1>
            <ul class="works__list">
                <li class="works__item">
                    <input type="radio" name="type" id="type1" checked>
                    <label for="type1" class="works__label">
                        <span>Лицо</span>
                    </label>
                    <div class="works__gallery">
                        <img src="img/works-item1.jpg" alt="photo">
                        <img src="img/works-item2.jpg" alt="photo">
                        <img src="img/works-item3.jpg" alt="photo">
                        <img src="img/works-item4.jpg" alt="photo">
                        <img src="img/works-item5.jpg" alt="photo">
                        <img src="img/works-item6.jpg" alt="photo">
                    </div>
                </li>
                <li class="works__item">
                    <input type="radio" name="type" id="type2">
                    <label for="type2" class="works__label">
                        <span>Тело</span>
                    </label>
                    <div class="works__gallery">
                        <img src="img/works-item6.jpg" alt="photo">
                        <img src="img/works-item1.jpg" alt="photo">
                        <img src="img/works-item2.jpg" alt="photo">
                        <img src="img/works-item3.jpg" alt="photo">
                        <img src="img/works-item4.jpg" alt="photo">
                        <img src="img/works-item5.jpg" alt="photo">
                    </div>
                </li>
                <li class="works__item">
                    <input type="radio" name="type" id="type3">
                    <label for="type3" class="works__label">
                        <span>Волосы</span>
                    </label>
                    <div class="works__gallery">
                        <img src="img/works-item5.jpg" alt="photo">
                        <img src="img/works-item6.jpg" alt="photo">
                        <img src="img/works-item1.jpg" alt="photo">
                        <img src="img/works-item2.jpg" alt="photo">
                        <img src="img/works-item3.jpg" alt="photo">
                        <img src="img/works-item4.jpg" alt="photo">
                    </div>
                </li>
                <li class="works__item">
                    <input type="radio" name="type" id="type4">
                    <label for="type4" class="works__label">
                        <span>ногти</span>
                    </label>
                    <div class="works__gallery">
                        <img src="img/works-item4.jpg" alt="photo">
                        <img src="img/works-item5.jpg" alt="photo">
                        <img src="img/works-item6.jpg" alt="photo">
                        <img src="img/works-item1.jpg" alt="photo">
                        <img src="img/works-item2.jpg" alt="photo">
                        <img src="img/works-item3.jpg" alt="photo">
                    </div>
                </li>
            </ul>
        </div>
        <button class="works__btn">
            Загрузить еще
        </button>
    </div>
</div>