<div class="director block">
    <div class="wrapper">
        <div class="director__left">
            <div class="director__img">
                <img src="img/director-photo.jpg" alt="">
            </div>
        </div>
        <div class="director__right">
            <h3 class="director__title">Лидия Ружевская</h3>
            <p class="director__subtitle">Директор Салона</p>
            <p class="director__descr quotes">Мы искренне рады, что Вы заглянули на наш сайт! С&nbsp;присущим нам гостеприимством и радушием мы приглашаем Вас к нам в гости и сделаем все, чтобы знакомство с нашим салоном красоты стало для Вас незабываемым путешествием в мир красоты, уюта, комфорта и обретения совершенства. Мы уверены, Ваш первый визит станет фундаментом дальнейшего плодотворного и приятного сотрудничества.</p>
            <p class="director__descr">Самое главное в салоне красоты это профессионализм и атмосфера! В нашем салоне есть все это и многое другое - наращивание волос, парикмахерская, spa, макияж,&nbsp;наращивание ногтей, маникюр, депиляция, косметология,&nbsp;дизайн ногтей, педикюр, наращивание ресниц, чистка&nbsp;лица, свадебный макияж, аппаратный педикюр, коррекция ногтей и многое другое.</p>
        </div>
    </div>
</div>