<footer class="footer block">
    <div class="wrapper">
        <div class="footer__top">
            <a class="footer__logo" href="index.html"><img src="./img/footer-logo.png" alt="Logo"></a>

            <nav class="footer__nav">
                <a href="#" class="footer__nav-item">Для лица</a>
                <a href="#" class="footer__nav-item">Для тела</a>
                <a href="services.html" class="footer__nav-item">Для волос</a>
                <a href="nails.html" class="footer__nav-item">Для ногтей</a>
                <a href="about.html" class="footer__nav-item">О салоне</a>
                <div class="nav-close"></div>
            </nav>

            <div class="footer__phone">
                <p class="footer__consult">
                    <span class="green">Получите консультацию</span><br> наших специалистов
                </p>
                <button class="footer__btn-phone btn order-call">Заказать звонок</button>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copy">
                &copy; Салон красоты «Okinawa».<br>  Все права защищены 2019
            </div>
            <div class="footer__dev">
                разработано в <a href="https://web-souris.ru/" target="_blank">Souris</a>
            </div>
        </div>
    </div>
</footer>