<header class="about-header header block">
    <div class="wrapper">
        <div class="header__top">
            <a class="header__logo" href="index.html"><img src="./img/logo.png" alt="Logo"></a>

            <nav class="header__nav">
                <a href="#" class="header__nav-item">Для лица</a>
                <a href="#" class="header__nav-item">Для тела</a>
                <a href="#" class="header__nav-item">Для волос</a>
                <a href="#" class="header__nav-item">Для ногтей</a>
                <a href="#" class="header__nav-item">О салоне</a>
                <div class="header__nav-phone">
                    <span class="header__number">+7 (915) 096-39-90</span>
                    <button class="header__btn-phone btn order-call">Заказать звонок</button>
                </div>
                <div class="nav-close"></div>
            </nav>

            <div class="nav-open"></div>

            <div class="header__phone">
                <span class="header__number">+7 (915) 096-39-90</span>
                <button class="header__btn-phone btn order-call">Заказать звонок</button>
            </div>

        </div>

        <div class="header__content">
            <div class="header__row header__row-first">

                <div class="header__item header__item-first">
                    <h1 class="header__title">О салоне</h1>
                    <p class="header__description">Поэтому совсем не случайно то, что коллоид охлаждает минерал, вне зависимости от предсказаний теоретической модели, несмотря на кажущуюся простоту.</p>
                    <div class="header__btn-promo order-call">Записаться</div>
                </div>

                <div class="header__item header__item-second">
                    <div class="header__item-img">
                        <img src="img/about-header-1.jpg" alt="">
                    </div>
                </div>

                <div class="header__item header__item-third">
                    <div class="header__item-img">
                        <img src="img/about-header-2.jpg" alt="">
                    </div>
                    <p class="header__item-italic">Мы используем только качественную и профессиональную продукцию, сохраняя доступные цены.</p>
                </div>
            </div>

            <div class="header__row header__row-second">
                <div class="header__item-img">
                    <img src="img/about-header-3.jpg" alt="">
                </div>
                <p class="header__item-descr">Любое формирование и даже кардинальное изменение облика можно с легкостью добиться, обратившись в наш салон красоты, где квалифицированные мастера — стилисты всегда готовы совершить чудо, превратив каждую даму в настоящую красавицу, ведь стильная<br><br> Наш салон — это настоящая индустрия красоты и современных технологий материалов по уходу не только за волосами, но и за ногтями при помощи гель – лака, таким образом, добиваясь безупречного вида ногтей на длительное время.</p>
                <p class="header__item-descr">Добиться этого совсем не сложно даже не прибегая к экстремальным способам по средствам совершения операций или любого другого вида проб и ошибок, и все только ради того, чтобы свершилось чудо, и любая дама могла гордиться своим внешним видом.<br><br> А высококлассный колорист нашего салона, обладающий последними методиками сложного окрашивания и знающие толк в необыкновенной красоте волос, при помощи амбре, поможет создать неповторимый имидж.</p>
            </div>

        </div>
    </div>
</header>