<div class="insta block">
    <div class="wrapper">
        <div class="insta__left">
            <div class="title">
                Следите за нами в <br>Instagram <img src="img/insta.png" alt="inst">
            </div>
            <div class="insta__imgs">
                <a href="" class="insta__photo-link">
                    <img src="img/insta-photo1.png" alt="photo">
                </a>
                <a href="" class="insta__photo-link">
                    <img src="img/insta-photo2.png" alt="photo">
                </a>
                <a href="" class="insta__photo-link">
                    <img src="img/insta-photo3.png" alt="photo">
                </a>
                <a href="" class="insta__photo-link">
                    <img src="img/insta-photo2.png" alt="photo">
                </a>
                <a href="" class="insta__photo-link">
                    <img src="img/insta-photo3.png" alt="photo">
                </a>
                <a href="" class="insta__photo-link">
                    <img src="img/insta-photo1.png" alt="photo">
                </a>
            </div>
        </div>
        <div class="insta__right">
            <div class="insta__list">
                <a href="" class="insta__item">
                    <img src="img/insta1pic.png" alt="info">
                    <p class="insta__text">
                        Постоянные подарки
                    </p>
                </a>
                <a href="" class="insta__item">
                    <img src="img/insta2pic.png" alt="info">
                    <p class="insta__text">
                        Каждую неделю
                        <br>акции
                    </p>
                </a>
                <a href="" class="insta__item">
                    <img src="img/insta3pic.png" alt="info">
                    <p class="insta__text">
                        Много полезной
                        <br>информации
                    </p>
                </a>
                <a href="" class="insta__item">
                    <img src="img/insta4pic.png" alt="info">
                    <p class="insta__text">
                        Антиаукционы
                    </p>
                </a>
            </div>
            <button class="insta__btn">
                Перейти в Instagram
            </button>
        </div>
    </div>
</div>