<div class="staff block">
    <div class="wrapper">
        <div class="staff__title">В любом деле главное — люди. Наши мастера — настоящие профессионалы своего дела и знают как сделать так, чтобы клиент стал<br> немного счастливее.</div>
        <div class="staff__content">
            <a href="#" class="staff__item">
                <img src="img/team-1.jpg" alt="">
                <p class="staff__name">Ксения Молчанова</p>
            </a>
            <a href="#" class="staff__item">
                <img src="img/team-2.jpg" alt="">
                <p class="staff__name">Юлия Момонт</p>
            </a>
            <a href="#" class="staff__item">
                <img src="img/team-3.jpg" alt="">
                <p class="staff__name">Анна Киселёва</p>
            </a>
            <a href="#" class="staff__item">
                <img src="img/team-4.jpg" alt="">
                <p class="staff__name">Анастасия Терёшина</p>
            </a>
            <a href="#" class="staff__item">
                <img src="img/team-1.jpg" alt="">
                <p class="staff__name">Ксения Молчанова</p>
            </a>
            <a href="#" class="staff__item">
                <img src="img/team-2.jpg" alt="">
                <p class="staff__name">Юлия Момонт</p>
            </a>
            <a href="#" class="staff__item">
                <img src="img/team-3.jpg" alt="">
                <p class="staff__name">Анна Киселёва</p>
            </a>
            <a href="#" class="staff__item">
                <img src="img/team-4.jpg" alt="">
                <p class="staff__name">Анастасия Терёшина</p>
            </a>
        </div>
    </div>
</div>