doctype html
html
    head
        meta(charset="utf-8")
        title
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet")
        link(href="img/favicon.ico" rel="icon")
        link(rel='stylesheet' href='css/app.css')
        link(rel='stylesheet' href='css/libs.min.css')
    body.about-page
        include ../common/about/header.html
        include ../common/about/director.html
        include ../common/about/staff.html
        include ../common/about/insta.html
        include ../common/about/contact.html
        include ../common/about/footer.html
        include ../common/order-popup.html

        script(src='./js/libs.min.js')
        script(src='./js/app.js')