doctype html
html
  head
    meta(charset="utf-8")
    title
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    //fonts must be here
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
    link(rel='stylesheet' href='css/libs.min.css')
  body
    include ../common/a__.html

    script(src='./js/libs.min.js')
    script(src='./js/app.js')